---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->


<h2>Head Teaching Assistant - Discrete Mathematics (Spring 2022)</h2>
    <ul>
        <li>Led weekly discussion sections, clarifying complex concepts and solving problems.</li>
        <li>Coordinated and supervised a team of teaching assistants.</li>
        <li>Assisted in the development and grading of exams and assignments.</li>
        <li>Held office hours to provide additional support to students.</li>
    </ul>

    <h2>Teaching Assistant - Machine Learning (Spring 2023)</h2>
    <ul>
        <li>Assisted in the creation and grading of assignments and projects.</li>
        <li>Conducted lab sessions to demonstrate practical applications of machine learning algorithms.</li>
        <li>Provided guidance to students on coursework and project development.</li>
        <li>Held regular office hours to address student queries and provide one-on-one support.</li>
    </ul>

    <h2>Teaching Assistant - Operations Research (Spring 2024)</h2>
    <ul>
        <li>Facilitated classroom discussions and group activities.</li>
        <li>Graded assignments, quizzes, and exams.</li>
        <li>Supported students with problem-solving techniques and software tools.</li>
        <li>Assisted in developing course materials and assignments.</li>
    </ul>

    <h2>Teaching Assistant - Statistics (Spring 2022, Spring 2023)</h2>
    <ul>
        <li>Graded homework, quizzes, and exams.</li>
        <li>Held tutorial sessions to reinforce lecture material and solve additional problems.</li>
        <li>Designed course final projects and conducted workshops for R-language to assist students with their projects.</li>
        <li>Answered student questions during office hours.</li>
    </ul>

    <h2>Teaching Assistant - Advanced Programming (Fall 2022)</h2>
    <ul>
        <li>Assisted in grading programming assignments and projects.</li>
        <li>Conducted lab sessions to help students understand complex programming concepts and techniques.</li>
        <li>Provided debugging support and code reviews during office hours.</li>
        <li>Developed supplementary materials and coding exercises.</li>
    </ul>

    <h2>Teaching Assistant - Fundamentals of Programming (Spring 2023)</h2>
    <ul>
        <li>Assisted in grading assignments and exams.</li>
        <li>Led lab sessions to teach basic programming concepts and problem-solving skills.</li>
        <li>Provided individual support to students struggling with course material.</li>
        <li>Helped develop course content and exercises.</li>
    </ul>