---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->


<ul>  
  <li>
      Discrete Mathematics\
      (Spring 2021)\
      Presented by Dr. Mani Rezaei\
      (As HeadTA) 
  </li>
  <li>
    Machine Leaning\
    (Spring 2022-2023)\
    Presented by Dr. Sharifizadeh\
    (as TA)
  </li>
  <li>
    Linear Algebra \
    (FALL 2021-2022)\
    Presented by Dr. Bahraini\
    (as TA) 
  </li>
  <li>
    Statistics\
    (Spring 2022-2023)\
    Presented by Dr. Javad Ebrahimi\
    (As TA) 
  </li>
  <li>
    Fundamentals of programming\
    (Spring 2022-2023)\
    Presented by Dr. Amar Shahraki\
    (As TA)

  </li>


</ul>