---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->


<ul>  
  <li>
      Discrete Mathematics <br />
      (Spring 2021)<br />
      Presented by Dr. Mani Rezaei<br />
      (As HeadTA) 
  </li>
  <li>
    Machine Leaning<br />
    (Spring 2022-2023)<br />
    Presented by Dr. Sharifizadeh<br />
    (as TA)
  </li>
  <li>
    Linear Algebra <br />
    (FALL 2021-2022)<br />
    Presented by Dr. Bahraini<br />
    (as TA) 
  </li>
  <li>
    Statistics<br />
    (Spring 2022-2023)<br />
    Presented by Dr. Javad Ebrahimi<br />
    (As TA) 
  </li>
  <li>
    Fundamentals of programming<br />
    (Spring 2022-2023)<br />
    Presented by Dr. Amar Shahraki<br />
    (As TA)

  </li>


</ul>